<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zgl.aftersales.dao.QuestionMapper">

    <cache/>

    <select id="findAll" resultType="com.zgl.aftersales.pojo.Users">
        SELECT * FROM users
    </select>

<!--参数-->
    <insert id="addQuestion" parameterType="com.zgl.aftersales.pojo.Question">
             INSERT INTO questions(item_id,Question_type,Question_status,Question_detail,User_id,Commit_time) VALUES(#{ item_id },#{ Question_type },#{ Question_status },#{ Question_detail },#{ User_id},#{ Commit_time })
    </insert>

    <select id="checkQuestion" parameterType="int" resultType="com.zgl.aftersales.pojo.Question">
             SELECT * FROM questions WHERE Question_id = #{ Question_id }
    </select>

    <select id="checkQuestionsubmited" parameterType="int" resultType="com.zgl.aftersales.pojo.Question">
             SELECT * FROM questions WHERE User_id = #{ User_id } and Question_status = "unaccepted"
    </select>

    <select id="checkQuestionfinished" parameterType="int" resultType="com.zgl.aftersales.pojo.Question">
             SELECT * FROM questions WHERE User_id = #{ User_id } and Question_status = "done"
    </select>

    <select id="checkQuestiondealing" parameterType="int" resultType="com.zgl.aftersales.pojo.Question">
             SELECT * FROM questions WHERE User_id = #{ User_id } and Question_status = "accepted"
    </select>



    <select id="checkPostMan" parameterType="int" resultType="com.zgl.aftersales.pojo.Users">
             SELECT * FROM users WHERE User_id = #{ User_id }
    </select>

<!--    <delete id="DeleteUser" parameterType="int">-->
<!--             DELETE FROM  users WHERE User_id = #{ User_id }-->
<!--    </delete>-->

    <update id="updateUser" parameterType="com.zgl.aftersales.pojo.Users">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update users
            <set>
                <if test="item.User_id != null">User_id=#{item.User_id},</if>
                <if test="item.User_name != null">User_name=#{item.User_name},</if>
                <if test="item.Password != null">Password=#{item.Password},</if>
                <if test="item.Tel != null">Tel=#{item.Tel},</if>
                <if test="item.Email != null">Email=#{item.Email},</if>
                <if test="item.Task_num != null">Task_num=#{item.Task_num},</if>
                <if test="item.Role_id != null">Role_id=#{item.Role_id},</if>
            </set>
            where User_id = #{item.User_id}
        </foreach>
    </update>









</mapper>