<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的DAO/Mapper接口-->
<mapper namespace="com.zgl.aftersales.dao.UserMapper">
    <insert id="addUser" parameterType="com.zgl.aftersales.pojo.Users">
       insert into users (User_name,Password,Tel,Email) values(#{User_name},#{Password},#{Tel},#{Email})
   </insert>
    <select id="selectByUsername" parameterType="String" resultType="com.zgl.aftersales.pojo.Users">
         select * from users where User_name=#{username}
    </select>
    <select id="selectByEmail" parameterType="String" resultType="com.zgl.aftersales.pojo.Users">
        select * from users where Email=#{mail}
    </select>
    <update id="updateByEmailToPwd" parameterType="map">
        update users set Password=#{pwd} where Email=#{mail}
    </update>

</mapper>